# Dependencies
node_modules

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
/dist
/client/dist
/server/dist

# OS / Editor
.DS_Store
.idea
.vscode

# Vite
client/.vite

# Coverage
coverage
